/*Game Container*/
.game-container {
    width: 100%;
    height: 100vh;
    background-color: #0C0D0E;
    overflow: hidden;
}

/*0C0D0E
15181c
0B0C0D
#2a2f32
*/

/*Game mid */
.game-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
 

}
.game-list-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 25%;
    height: 100%;    
}
.game-list {
    width: 100%;
    height: 70%;
}



.game-mid-buttons-dice-turn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 25%;
    height: 100%;


}

.game-mid-dice-turn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    height: 10%;
}
.dice {
    color: white;
}
.turn {
    color: white;
}

.game-mid-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;

}

.cards {
    display: flex;
    width: 90%;
    height: 70%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cards img {
    width: 30%;
    height: 30%;
}


























