
.tablero {
    /*width: 1000px;
    height: 920px;
    */
    height: 100%;
    flex-basis: 50%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: #fff;
}
