
.tablero {
    height: 100%;
    flex-basis: 50%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: #fff;
}

/* .a{
    background-color: #a5682a;
}
.b{
    background-color: gray
} */

/* .recinto1 {
    background-color: brown;
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.recinto2 {
    background-color: orange;
    grid-column: 8 / span 6;
    grid-row: 1 / span 6;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 7;
}
.recinto3 {
    background-color: green;
    grid-column: 15 / span 6;
    grid-row: 1 / span 6;
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 7;
}

.recinto4 {
    background-color: yellow;
    grid-column: 1 / span 6;
    grid-row: 8 / span 6;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 14;
}

.recinto5 {
    background-color: goldenrod;
    grid-column: 8 / span 6;
    grid-row: 8 / span 6;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 8;
    grid-row-end: 14;
}

.recinto6 {
    background-color: rgb(30, 43, 156);
    grid-column: 15 / span 6;
    grid-row: 8 / span 6;
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 14;
}

.recinto7 {
    background-color: rgb(44, 167, 126);
    grid-column: 1 / span 6;
    grid-row: 15 / span 6;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 21;
}

.recinto8 {
    background-color: rgb(126, 33, 41);
    grid-column: 8 / span 6;
    grid-row: 15 / span 6;
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 15;
    grid-row-end: 21;
}

.recinto9 {
    background-color: rgb(125, 37, 151);
    grid-column: 15 / span 6;
    grid-row: 15 / span 6;
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 15;
    grid-row-end: 21;
} */
